header img {
    float: right;
    padding-right: 5%;
}

header {
    height: 60px;
}

hr {
    border: 3px solid rgb(14, 141, 245);
    border-radius: 2px;
    width: 98%;
}

.main-container img {
    float: left;
    padding: 15px;

}

.main-container h2 {
    margin-bottom: 0%;
}

.main-container p {
    margin: 10px;
    letter-spacing: normal;
    line-height: 1.1;
}

.boxes {
    display: flex;
    gap: 20px;
}

/* .boxes .item1 {
    border: 2px solid gray;
    border-radius: 10px;
    width: 35%;
    padding: 10px;
    margin: 10px;

} */
 .boxes .item1{
    border:2px solid gray;
    border-radius: 10px;
    width: 35%;
    padding: 10px;
    margin: 10px;
 }

footer {
    background-color: rgb(28, 28, 252);
    padding: 5px;
    border-radius: 5px;
    display: ruby;
    /* width: 100%; */

}

footer a {
    color: white;
    gap: 10px;


}

footer .f1 {
    border-right: 2px solid black;
    padding-right: 5px;
}

footer p {
    padding-left: 1040px;
    padding-right: 20px;
}